@font-face {
    font-family: 'Kyokasho';
    src: url('/Fonts/Kyokasho.ttc') format('ttc');
}

#Title{
    color: #fe7a8f;
}

body {
    background-color: #333;
    color: white;
    font-family: 'Kyokasho', sans-serif;
    font-variant: small-caps;
    text-align: center;
}


nav {
    margin-top: 25px;
    background-color: #808080;
    color: white;
    padding: 15px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 35px;
    
}

a {
    text-decoration: none;
    color: white;
}

h2{
    font-size: x-large;
    color: #fe7a8f;
}

#Kanji{
    font-size: 140px;
    color: #fe7a8f;
    padding: 0px;
}

#Text{
    font-size: x-large;
    color: #fe7a8f;
}

#Paragraph{
    font-size: larger;
    color: white;
    text-align: left;
}

table {
    border-collapse: collapse;
    margin: auto;
    max-width: 75%;
    text-align: center;

}

td, th {
    /* border: 3px solid white; */
    padding: 8px;
    text-align: center;
    font-size: x-large;
    color: #fe7a8f;
    /* e il minimo che si puo fare */
    width: 525px;
} 

/* hr{
    color: #fe7a8f; 
    size: 5px;
} */

#KanjiText{
    margin: 50px;
    color: #fe7a8f;
    margin-bottom: 3px;
    margin-top: 3px;
  }