@font-face {
    font-family: 'Kyokasho';
    src: url('/Fonts/Kyokasho.ttc') format('ttc');
}

#Title{
    color: #fe7a8f;
}

body {
    background-color: #333;
    color: white;
    text-align: center;
    font-family: 'Kyokasho', sans-serif;
    font-variant: small-caps;
}


nav {
    margin-top: 25px;
    background-color: #808080;
    color: white;
    padding: 15px;
    padding-top: 20px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 35px;
    
}

a {
    text-decoration: none;
    color: white;
}

div {
    padding: 15px;
}

input{
    background-color: #333;
    color: #fe7a8f;
    font-size: xx-large;
    text-align: center;
    border-radius: 20px;
    border-width: 5px;
    border-color: #fe7a8f;
}

button{
    background-color: #333;
    color: #fe7a8f;
    font-size: larger;
    text-align: center;
    border-radius: 20px;
    border-width: 3px;
    padding: 10px;
    border-color: #fe7a8f;
}


p{
    font-size: x-large;
    font-style: italic; 
    text-decoration: underline;
}

img{
    max-width: 75%;
}